<a href="https://colab.research.google.com/github/SaulHernandezOsorio/CompYProgr-2022-Grupo-1157/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 4 DE NOVIEMBRE DEL 2021


# Tipos de datos estructurados de python

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos(opcional)

# Listas
- Tipo de dato que agrupa variables o valores.
- Se declara de dos formas#
     - usando [ ]
     - usando list()
     - usando un generador
- Puede contener tipos de dato diversos ( En otros lenguajes de prog. eso no es posible de forma directa )
- Los elementos internos se seleccionan con [ ]
- Soporta Slicing
- Son MUTABLES
- GENERADORES [var for x in range( 10 )]  
- Al ser una clase contiene muchos metodos utiles

In [23]:
numeros = [10, 5,2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[ -1 ] = 33
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]

In [24]:

# tipos diversos

cosas = [12, 2, True , "Saúl" , 1.70 , ["pera" , "Kiwi" , "uva" ] ]
print(cosas)
print( cosas[1] )
print( cosas[4] )
print( cosas[5] )
print( cosas[5][0] )
print( cosas[3][1:3] )
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'Saúl', 1.7, ['pera', 'Kiwi', 'uva']]
2
1.7
['pera', 'Kiwi', 'uva']
pera
aú
[12, 2, True, 'SAÚL', 1.7, ['pera', 'Kiwi', 'uva']]

In [29]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# slicing
# 1. 4 al 8
print( numeros[3:8])
# 2: [9,10]
print( numeros[8:10])
print( numeros[-3:-1])
# 3. Primero el orden debera ser inverso [11,10,9,8,...]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
#Crear una lsita con un generador
numeros = [ x for x in range(101) ]
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# función range()

Tiene los mismos componentes que slicing

ini , stop , incremento

range(1, 101 , 1)

In [31]:
numeros = [ x for x in range(50, 101) ]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Metodos disponibles de las Listas

In [32]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [48]:
numeros = [ 4,1,15,8,22,34,50,15 ]
print(numeros)
numeros.append( 99)
print(numeros)

#numeros.clear()
#numeros = []
print(numeros)

frutas = ["uvas" , "kiwi" , "manzana" ]
copia = frutas
print( frutas )
print( copia )
frutas.append("Naranja")
print( frutas )
print( copia )


colores = ["rojo" , "azul" , "blanco"]
copia2 = colores.copy()
print(colores)

print(copia2)

colores.append("Verde")
print(colores)

print(copia2)

print("Numero de veces que aparece el 15 es: " , numeros.count(15) )

# Extend 
nombres = ["jose" , "pedro" , "karina"]
otrosNombres = ["josue" , "diana" , "dalia"] 

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

# Lo mismo con el método extend
otrosNombres.extend( ["Jesus" , "María" , "Jose"])
print(otrosNombres)

print("Jesus esta en la posición:" , otrosNombres.index("Jesus") )

otrosNombres.insert(4,"Espiritu santo")
print(otrosNombres)

# Pop 
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50, 15]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'Naranja']
['uvas', 'kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'Verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15 es:  2
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'Jesus', 'María', 'Jose']
Jesus esta en la posición: 3
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'María', 'Jose']
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'María']
Jose