<a href="https://colab.research.google.com/github/SaulHernandezOsorio/CompYProgr-2022-Grupo-1157/blob/main/Fundamentos2_CyP_1157%20%2011-NOV-2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 4 DE NOVIEMBRE DEL 2021


# Tipos de datos estructurados de python

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos(opcional)

# Listas
- Tipo de dato que agrupa variables o valores.
- Se declara de dos formas#
     - usando [ ]
     - usando list()
     - usando un generador
- Puede contener tipos de dato diversos ( En otros lenguajes de prog. eso no es posible de forma directa )
- Los elementos internos se seleccionan con [ ]
- Soporta Slicing
- Son MUTABLES
- GENERADORES [var for x in range( 10 )]  
- Al ser una clase contiene muchos metodos utiles

In [ ]:
numeros = [10, 5,2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[ -1 ] = 33
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]

In [ ]:

# tipos diversos

cosas = [12, 2, True , "Saúl" , 1.70 , ["pera" , "Kiwi" , "uva" ] ]
print(cosas)
print( cosas[1] )
print( cosas[4] )
print( cosas[5] )
print( cosas[5][0] )
print( cosas[3][1:3] )
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'Saúl', 1.7, ['pera', 'Kiwi', 'uva']]
2
1.7
['pera', 'Kiwi', 'uva']
pera
aú
[12, 2, True, 'SAÚL', 1.7, ['pera', 'Kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# slicing
# 1. 4 al 8
print( numeros[3:8])
# 2: [9,10]
print( numeros[8:10])
print( numeros[-3:-1])
# 3. Primero el orden debera ser inverso [11,10,9,8,...]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Crear una lsita con un generador
numeros = [ x for x in range(101) ]
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# función range()

Tiene los mismos componentes que slicing

ini , stop , incremento

range(1, 101 , 1)

In [ ]:
numeros = [ x for x in range(50, 101) ]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Metodos disponibles de las Listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [ 4,1,15,8,22,34,50,15 ]
print(numeros)
numeros.append( 99)
print(numeros)

#numeros.clear()
#numeros = []
print(numeros)

frutas = ["uvas" , "kiwi" , "manzana" ]
copia = frutas
print( frutas )
print( copia )
frutas.append("Naranja")
print( frutas )
print( copia )


colores = ["rojo" , "azul" , "blanco"]
copia2 = colores.copy()
print(colores)

print(copia2)

colores.append("Verde")
print(colores)

print(copia2)

print("Numero de veces que aparece el 15 es: " , numeros.count(15) )

# Extend 
nombres = ["jose" , "pedro" , "karina"]
otrosNombres = ["josue" , "diana" , "dalia"] 

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

# Lo mismo con el método extend
otrosNombres.extend( ["Jesus" , "María" , "Jose"])
print(otrosNombres)

print("Jesus esta en la posición:" , otrosNombres.index("Jesus") )

otrosNombres.insert(4,"Espiritu santo")
print(otrosNombres)

# Pop 
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50, 15]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'Naranja']
['uvas', 'kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'Verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15 es:  2
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'Jesus', 'María', 'Jose']
Jesus esta en la posición: 3
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'María', 'Jose']
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'María']
Jose

# 9 DE NOVIEMBRE DEL 2021

# Tuplas

### Caracteristicas de las Tuplas

- Datos Agrupados.
- Se declara usando:
    - ( )
    - tuple ()
- Estructura secuencial, indexada desde a partir de 0, al igual que las listas.
- Pueden tener de 0 a n elementos.
- NO SON MUTABLES (No se puede: Eliminar y/o cambiar).
- Son buenas para almacenar infromación de consulta.
- Pueden almacenar información de diferentes tipos de datos.
- Pueden estar anidadas.
- Tienen metodos utiles.

In [ ]:
info = ("juan23" , "dios1234" , "123.232.1.12" )
print( info )
print( info[ 1 ] )
#info[ 1 ] = "patito23"
#No se pueden agregar mas datos a las tuplas , son inmutables 

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print( numeros )
print( numeros[5:11])

cosas = ( info , numeros )
print( cosas )
print( cosas[1][5:11])
print( cosas[0][2][4:7])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Metodos de las tuplas

Son los mismos de las listas pero los que no involucren mutabilidad

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Caracteristicas de los diccionarios

- Agrupan datos pero de forma no lineal.
- Se declaran con:
     - {}
     - dict()
- Formado por apres del tipo llave:valor , donde:
      - Llave es de tipo string (Siempre)
      - valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
-  Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = { "nombre" : "José" }
print( alumno )
print( alumno["nombre"])

alumno = {"nombre":"José","nc":"2129229292", "edad":18 }
print("Edad del alumno = " , alumno["edad"])
print(alumno["nombre"].upper())
print(alumno)

alumno2 = dict() #()
alumno2["nombre"] = "jose"
print(alumno2)
alumno2["nc"] = "219199292"
alumno2["edad"] = 18
print(alumno2)

alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'José'}
José
Edad del alumno =  18
JOSÉ
{'nombre': 'José', 'nc': '2129229292', 'edad': 18}
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': '219199292', 'edad': 18}
{'nombre': 'jose', 'nc': '219199292', 'edad': 19}

cliente = { "id":"CT2121" ,
           "nombre" :{
               "nombres" : ["José", "Eduardo"],
               "paterno" : "Pedroza",
               "materno" : "Rosales"
           }  ,
           "telefonos" : {
               "casa":"551725362",
               "trabajo":"552116674",
               "celular":"04455331477"
           },
           "productos":{  
               "ahorro":{ "numero_cuenta":"7788" , "ahorro": 2500.50 },
               "tarjetas":[ 
                            {"tipo":"debito" , "saldo" : 1000.5},
                            {"tipo":"credito preferente" , "limite":250000.5},
                            {"tipo":"lite" , "limite":15000.5}
                            
               ]
           },
           "dirección":{ 
               "calle":"Av. central",
               "numero" : 1245,
               "colonia" : "Impulsora",
               "delegación" : "Neza",
               "estado" : { 
                         "clave" : 15,
                         "nombre corto" : "EdoMex",
                         "nombre": "Estado de México"
               }

           }
                     
           
            }
print(cliente["telefonos"]["casa"])
print("------------------------" )
print(cliente)
print("------------------------" )
print(cliente["productos"]["ahorro"]["ahorro"])     
print("------------------------" )
print( cliente ["productos"]["tarjetas"][2]["limite"])
print("------------------------" )
print( cliente ["dirección"]["estado"]["nombre"].upper())
print("------------------------" )
cliente["productos"]["ahorros"]["ahorro"] -= 1500


print(cliente["productos"])

In [7]:
cliente = { "id":"CT2121" ,
           "nombre" :{
               "nombres" : ["José", "Eduardo"],
               "paterno" : "Pedroza",
               "materno" : "Rosales"
           }  ,
           "telefonos" : {
               "casa":"551725362",
               "trabajo":"552116674",
               "celular":"04455331477"
           },
           "productos":{  
               "ahorro":{ "numero_cuenta":"7788" , "ahorro": 2500.50 },
               "tarjetas":[ 
                            {"tipo":"debito" , "saldo" : 1000.5},
                            {"tipo":"credito preferente" , "limite":250000.5},
                            {"tipo":"lite" , "limite":15000.5}
                            
               ]
           },
           "dirección":{ 
               "calle":"Av. central",
               "numero" : 1245,
               "colonia" : "Impulsora",
               "delegación" : "Neza",
               "estado" : { 
                         "clave" : 15,
                         "nombre corto" : "EdoMex",
                         "nombre": "Estado de México"
               }

           }
                     
           
            }
print(cliente["telefonos"]["casa"])
print("------------------------" )
print(cliente)
print("------------------------" )
print(cliente["productos"]["ahorro"]["ahorro"])     
print("------------------------" )
print( cliente ["productos"]["tarjetas"][2]["limite"])
print("------------------------" )
print( cliente ["dirección"]["estado"]["nombre"].upper())
print("------------------------" )
print(cliente["productos"]["ahorro"]["ahorro"] - 1500)

551725362
------------------------
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '551725362', 'trabajo': '552116674', 'celular': '04455331477'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 1000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'dirección': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegación': 'Neza', 'estado': {'clave': 15, 'nombre corto': 'EdoMex', 'nombre': 'Estado de México'}}}
------------------------
2500.5
------------------------
15000.5
------------------------
ESTADO DE MÉXICO
------------------------
1000.5

# 11 DE NOVIEMBRE DEL 2021

# Estructuras de control de programación

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:
1. Secuencia
    - La representación de la memoria de programa (Arquitectura Vonn Newman)
2. Selección
  - Es la estrucutra de control que decide si un bloque se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloque entre un conjunto de opciones.
    En resumen tenemos: Selección simple, selección con bifurcación y slección múltiple.
2. Repetición
   - Este tipo de estructura nos permite automatizar la ejecución repetitiva de codigo mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:
      - Desde... hasta (estructura for)
      - Haz mientras (estrucutura While)
      - Haz y luego validaz mientras (estructura Do-While)

# Seleccion simple

-Documentar, o poner datos

La estrcutura if

```
if CONDICION  :
     Cuerpo del IF
```
**NOTA** Para establecer el cuerpo de una estructura de control en python se usan los tabuladores a la izquierda.

En otros lenguajes de Programación com Java o C++, se usan las llaves de apertura y de cierre  { }
```
int edad=0;
printf("Dame tu edad");
scanf("%i", &edad );
if(edad >=18){
  print("Eres mayor de edad");
}
printf("Fun de programa");

```

In [15]:
edad = int( input("Dame tu edad:") )
print(f"Tecleaste {edad} años")
if edad >= 18 :
  print("ERES MAYOR DE EDAD")
  print("Algo")
print("Gracias por participar")  
print("Fin del programa")

Dame tu edad:20
Tecleaste 20 años
ERES MAYOR DE EDAD
Algo
Gracias por participar
Fin del programa

In [24]:
cal = float( input("Dame tu calificación:") )
print(f"Tu calificación es {cal}")
if cal > 8 :
  print("Felicidades Aprobaste")
  print("Fin")
if cal < 8 :  
  print("LO SIENTO NO APROBASTE")

Dame tu calificación:7.9
Tu calificación es 7.9
LO SIENTO NO APROBASTE

In [37]:
suel = float( input("Dame tu sueldo:" ) )

if suel > 1000 :
  print("No recibe aumento, tu sueldo es" , suel )
if suel < 1000 :
   aum = suel*1.15
   nsue = suel + aum 
   print("Tu nuevo sueldo es:" , nsue)

Dame tu sueldo:1224
No recibe aumento, tu sueldo es 1224.0